** Author: Lauren Washington **

In [1]:
#Working with Variables
#remove quotes around 29 and see what happens. why?

first_name = "Lauren"
last_name = 'Washington'
age = "29"

print("Hi, my name is " + first_name +" " 
      + last_name + ". I am " + age + " years old." )

format_example = "Hi, my name is {} {}. I am {} years old."
print(format_example.format(first_name, last_name, age))

Hi, my name is Lauren Washington. I am 29 years old.
Hi, my name is Lauren Washington. I am 29 years old.

In [2]:
age_data_type = type(age)
print(age_data_type)

#assign new variable to age
age = 29 
age_data_type = type(age)
print(age_data_type)

#doesn't print because there is no print statement
age == 29

print(age == "29")
print(age == 29)

#prints because it's on the last line
age == 29

<class 'str'>
<class 'int'>
False
True

True

In [3]:
print(first_name.isalpha())

#will receive an error message because an integer is not a decimal
#print(age.isdecimal())

True

In [4]:
#index starts at 0 in python which may be confusing for R users 
first_initial = first_name[0]
print(first_initial)

#find the length of the variable 
print(len(first_name))

#index from 0 to len(first_name)
indexed_first_name = first_name[0:6]
print(indexed_first_name)

L
6
Lauren

In [5]:
#extract the word 'Welcome'
'Welcome to the world of recruitment data extraction.'[0:7].upper()

'WELCOME'

In [6]:
#run as is then uncomment .index('on') line and print 49:51
#how does this differ from find?
print('Welcome to the world of recruitment data extraction.'.find('t'))
#print('Welcome to the world of recruitment data extraction.'.index('on'))
print('Welcome to the world of recruitment data extraction.'[8:])
#print('Welcome to the world of recruitment data extraction.'[49:51])
#notice quotes with lack of print statement
'Welcome to the world of recruitment data extraction.'[-44:-1]

8
to the world of recruitment data extraction.

'to the world of recruitment data extraction'

In [57]:
format_poem("Beautiful is better than ugly. Explicit is better than implicit. Simple is better than complex. Complex is better than complicated.")

Beautiful is better than ugly.
 Explicit is better than implicit.
 Simple is better than complex.
 Complex is better than complicated.

In [7]:
random_strings = ['(555)', '555', '5555']
print('-'.join(random_strings))

(555)-555-5555

In [8]:
#create a list of schools
list_of_schools = ['Spelman College', 'Atlanta Metropolitan College', 'Columbia University', 'Bootcamp']
print(list_of_schools)

['Spelman College', 'Atlanta Metropolitan College', 'Columbia University', 'Bootcamp']

In [9]:
#also a valid list
undergrad_school_info = []
undergrad_school_info = ['Spelman College','Atlanta, GA', 'Undergrad', 'BA', 'Econ', 2005, 2009, 3.6]
print(undergrad_school_info)
print(type(undergrad_school_info))

['Spelman College', 'Atlanta, GA', 'Undergrad', 'BA', 'Econ', 2005, 2009, 3.6]
<class 'list'>

In [10]:
list("Columbia")

['C', 'o', 'l', 'u', 'm', 'b', 'i', 'a']

In [11]:
#list(range(5.0))
list(range(5))

[0, 1, 2, 3, 4]

In [12]:
#run as is then uncomment second line and re-run. What happened?
grad_school_info = ['Columbia University: GSAS', "New York City, New York", 'Grad', 'MA', 'Quantitative Methods in the Social Sciences', 2011, 2012]
#grad_school_info.append(3.4)
print(grad_school_info)

['Columbia University: GSAS', 'New York City, New York', 'Grad', 'MA', 'Quantitative Methods in the Social Sciences', 2011, 2012]

In [13]:
#create a dictionary with the job candidate's school 
#as the key and degree/certification/etc as the value

lauren_education = {
    "Spelman College": "Economics",
    "Atlanta Metropolitan College": "Post-Bac Math/Stats",
    "Columbia University": "Quantitative Methods in the Social Sciences",
    "Bootcamp": "Data Science Certificate"
}

#What did Lauren study at Atlanta Metropolitan College?
lauren_education["Atlanta Metropolitan College"]

'Post-Bac Math/Stats'

In [14]:
#job candidate's url
linkedin_url = "https://www.linkedin.com/in/lauren-washington-0978ba8/"

In [15]:
#split url removes splitting item and separates the original data 
#into segments 
linkedin_url.split('//')

['https:', 'www.linkedin.com/in/lauren-washington-0978ba8/']

In [16]:
#basic if statement
if lauren_education["Bootcamp"] == "Data Science Certificate":
    print("Let's interview him/her for our new Data Scientist position!")

Let's interview him/her for our new Data Scientist position!

In [17]:
#define a function which examines how many key-value pairs
#are in the job candidate's education dictionary
def num_education(dict_obj):
    print(len(lauren_education))

In [18]:
#use num_education function
num_education(lauren_education)

4

In [19]:
#create function to print out high-level information about the candidate

def prettify_education(dict_obj, linkedin):
    how_many_education = ''' 
    Result: \n
    \tThis candidate has {} degrees/certifications 
    \tin their education dictionary.'''
    to_confirm = '''
    \tTo confirm, visit this URL: \n
    \t\t{}'''
    num = len(dict_obj)
    print(how_many_education.format(num))
    print(to_confirm.format(linkedin))

In [20]:
#make the results readable 
prettify_education(lauren_education, linkedin_url)

    Result:

    	This candidate has 4 degrees/certifications
    	in their education dictionary.

    	To confirm, visit this URL:

    		https://www.linkedin.com/in/lauren-washington-0978ba8/

In [39]:
prettify_education(lauren_education, linkedin_url)

Result: This candidate has 3 degrees/certifications in their education dictionary.
To confirm, visit this URL: https://www.linkedin.com/in/lauren-washington-0978ba8/

In [21]:
age += 1
print(age)

30

In [22]:
#write a formula to screen candidates for mobile developer positions
def screen_candidate(dict_obj):
    if dict_obj["Bootcamp"] == "Mobile Development":
        print("Let's interview him/her for our new Front-End Web Dev position!")
    else:
        print("He/She seems talented, but not for this position. Happy recruiting!")

In [23]:
#not a good candidate for mobile development
screen_candidate(lauren_education)

He/She seems talented, but not for this position. Happy recruiting!

In [24]:
#write a formula to screen candidates for mobile developer positions
#or pass to different teams
#Note: Pass to the Data Science Recruitment Team. is not indented. 
#What happens when you indent it?
def elif_screen_candidate(dict_obj):
    if dict_obj["Bootcamp"] == "Mobile Development Certificate":
        print("Let's interview him/her for our new Front-End Web Dev position!")
    elif dict_obj["Bootcamp"] == "Data Science Certificate" :
        print('''He/She seems talented, but not for this position. 
Pass to the Data Science Recruitment Team.''')
    else:
        print("He/She seems talented, but not for this position. Happy recruiting!")

In [25]:
#pass to a different team
elif_screen_candidate(lauren_education)

He/She seems talented, but not for this position.
Pass to the Data Science Recruitment Team.

In [26]:
#wrong data
def dictionary_detection(dict_obj):
    try:
        dict_obj.fromkeys()
        print("Thanks for uploading your dictionary!")
    except AttributeError:
        print("Not a dictionary. Please upload a dictionary.")

In [27]:
dictionary_detection(list_of_schools)

Not a dictionary. Please upload a dictionary.

In [28]:
print(dir(lauren_education))
print(lauren_education.fromkeys)

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
<built-in method fromkeys of type object at 0x1001cbc00>

In [29]:
#who are Lauren's Thinkful mentees?
#friendly reminder for intro email
mentees_contact = ["James at <insert email>", "Jon at <insert email>", "Martin at <insert email>"]
for mentee_contact in mentees_contact:
    print("Remember to say hello to {}, before your first 1:1.".format(mentee_contact))

Remember to say hello to James at <insert email>, before your first 1:1.
Remember to say hello to Jon at <insert email>, before your first 1:1.
Remember to say hello to Martin at <insert email>, before your first 1:1.

In [30]:
#you don't have to display the content of the list
#how many students showed up for all three sessions
mentee_present = ["anon_student_1", "anon_student_2"]
for mentee in mentee_present:
    print("Present")

Present
Present

In [31]:
"Bootcamp" in lauren_education

True

In [32]:
del lauren_education["Atlanta Metropolitan College"]
lauren_education

{'Bootcamp': 'Data Science Certificate',
 'Columbia University': 'Quantitative Methods in the Social Sciences',
 'Spelman College': 'Economics'}

In [33]:
concentration = list(lauren_education.values())
concentration

['Economics',
 'Quantitative Methods in the Social Sciences',
 'Data Science Certificate']

In [56]:
#CodeWars Poem Formatting
def format_poem(poem):
   a = poem.split('.')
   b = print('. \n'.join(a))

In [38]:
#create function to print out high-level information about the candidate

def prettify_education(dict_obj, linkedin):
    how_many_education = 'Result: This candidate has {} degrees/certifications in their education dictionary.'
    to_confirm = 'To confirm, visit this URL: {}'
    num = len(dict_obj)
    print(how_many_education.format(num))
    print(to_confirm.format(linkedin))